.Title
{
    color: rgb(0, 0, 0);
    text-shadow:2px 2px #FF0000;
    letter-spacing: 2 px;
    font-size: larger;
    width: 1908px;
    height: 105px;
    text-indent: 150px;
}
.title
{
    margin-left: 570px;
    margin-right: 570px;
}
.title_in
{
    width: 736px;
    height: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}
.Wel
{
    text-align: left;
    margin-left: 0px;
}
p.page
{
    text-align: justify;
    text-indent: 25px;
}
#Ico
{
    border-style: none;
    height: 50px;
    text-align: center;
    letter-spacing: 15px;
}