.hi{
    color: #f81111;
    font-size: 50px;
}
.wel{
    color: black;
    font-size: 20px;
}
.photo{
    border-radius:50%;
    text-align: center;
}
.bilibili{
    width: 12px;
    height: 12px;
}
.hi{
    text-align: center;
}
.wel{
    text-align: center;
}
.url1{
    text-align: center;
}
.url2{
    text-align: center;
}
.url3{
    text-align: center;
}
.e-mail{
    text-align: center;
    font-size: 25px;
}
.e-mail.hello{
    text-align: center;
    font-size: 50px;
    color: hsl(212, 70%, 51%);
}
.e-mail.explain{
    text-align: center;
}
.Github{
    text-align: 12px;
}
.Steam{
    text-align: 12px;
}
.E-mail{
    text-align: 12px;
}
.button{
    text-align: center;
}
.youtube-url1{
    text-align: center;
}
.bilibili-url1{
    text-align: center;
}