.intro
{
    text-align: center;
    color: red;
    top: 25%;
}
.wel
{
    text-align: center;
    top: 25%;
}
.navbar
{
    overflow: hidden;
    background-color: rgb(0, 47, 255); /* 导航栏背景色 */
  }
  
  .navbar a 
  {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* 每个导航链接的上下左右填充 */
    text-decoration: none;
  }
  
  .navbar a:hover 
  {
    background-color: #ddd; /* 鼠标悬停时的背景色 */
    color: black;
  }
  .avatar {
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%; /* 使图片呈现圆形 */
    overflow: hidden; /* 防止图片溢出圆形区域 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }