<div class="about row">
    <div class="col-md-12">
       <h2>关于我 </h2>
        <br/>
        <p> 我是一个典型的漂族，江西人在武汉读大学，因为年少冲动，从大学辍学后又来到杭州创业，一干就是3年，本来轰轰烈烈的事业，最后因为涉世不深，很不出意外的被资本骗了(准确的说是自己对资本的无知)，game over 了。</p>

        <p>   创业失败后，我痛定思痛，经过好一段时间才走出阴霾，于是我开启进入公司做打工人的生涯，可是因为大学辍学，没有体制下那耀眼的学位证和学历证，我被无数的企业拒绝，最后我只进了一家小公司搬砖。</p>

        <p>   路是自己选的，我没有自暴自弃，相反越挫越勇，于是乎，我就跟开了挂一样的狂啃技术，一年后顺利跳槽，薪资翻了2倍。尝到了努力后薪资给予的快感，加上对技术的热爱，我更加严格要求自己，设定目标，自考浙大，在技术上一路披荆斩棘，最后顺利的进入多家大厂。</p>

        <p>    如今，在java行业跌爬滚打9年的我，想通过这个公众号分享一下自己的技术和生活心得，希望能帮助那些想逆袭进入大厂的小伙伴，因为我有逆袭的亲身经历，我列举了几个进入大厂的好处：</p>

        <p>    1. 薪资待遇肯定不错</p>

        <p>    2. 对自己技术是一个肯定，增加个人的成就感，一定意义上的大厂镀金</p>

        <p>    3. 大厂有足够的技术资源和业务体量，能给你不一样的锻炼舞台</p>

        <p>    4. 大厂比你优秀的人太多太多，和优秀的人一起干活，可以让你学到很多</p>

        <p>  不过，最近几年，大厂也在被不断的吐槽，我整理总结了2个主要的原因：</p>

        <p>   1. 技术人员的年轻化，很多都是独生子女，没有什么生活的压力，所以工作上表现出很强的拿多少钱干多少活的形态</p>

        <p>   2. 有些没有进过大厂吃不到葡萄说葡萄酸的人，到处跟风黑，另外一些被大厂淘汰的人”以亲身经历的摸黑“，个人认为优胜劣汰是自然生存的法则，或许少许人确实遇到不公平的对待，只希望他们能够在不公平中更加坚强，创造属于他们的公平；</p>

        <p>   3. 最近几年，国家势能转向高尖科技，互联网的红利殆尽，因此大厂竞争更加激烈，甚至白热化：各种996，007，裁员潮，给互联网人心灵给予了巨大创伤；</p>

        <p>    最后，我想鼓励程序员的同行，不管你是25岁，35岁，还是45岁，不管你是什么学历，只要你真正在技术上下了功夫，总有一家公司能够发现你的不一样。</p>

        <p>    当你 25岁，经验不足时，你有无数的机会可以充实和历练自己；</p>

        <p>    当你 35岁，你有从25岁到35岁 这10年美好的时光，它足够的长，让你去沉淀自己，思考自己该何去何从；</p>

        <p>    当你 45岁，不惑之年的你，肯定已经完成了精神和物质的蜕变，你的人生也达到另外一个高度；</p>

        <p>   最后，人生最大的财富就是投资自己，终生学习，世界一定会给温柔对待你。</p>

        <P>如果你在技术上也有类似的困惑，欢迎call me，我们可以一起学习，探讨</P>

         <p>
          <strong>微信公众号</strong>：<a href="https://www.yuanjava.cn/assets/images/pub.jpg" target="_blank">猿java</a>，“爱技术，爱生活” 欢迎关注
        </p>

                <h2>联系我</h2>

                <!--<p><strong>Personal</strong></p>-->
                <ul>
                    <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
                    <li>个人微信：<strong>MrWeiki</strong>（备注：博客）</li>
                </ul>

                <p><strong>Group</strong></p>
                <p><em>关注公众号：<a href="https://www.yuanjava.cn/assets/images/pub.jpg" target="_blank">猿java</a></em></p>
        <!--<p><em>关注公众号：<a href="https://www.yuanjava.cn/assets/images/pub.jpg" target="_blank">猿java</a>，回复关键字</em></p>

                   <ul>
                        <li>springboot交流群 - 关键字：springboot</li>
                        <li>原创作者交流群 - 关键字：原创</li>
                        <li>微信群交流，请在公号内回复 - 关键字：加群</li>
                    </ul>
     -->
               <h2>
                 打赏
               </h2>

               <p>本站所有文章和源码均免费开放，您如果觉得帮助到你，欢迎打赏哦:)
               </p>

               <p align="center">
                 <img sizes="height:80;width:80" src="https://www.yuanjava.cn/assets/images/tip.jpeg"  />
                 <br/>
                 微信扫一扫
               </p>
               <div class="comment">
                 {% include comments.html %}
               </div>

    </div>
</div>