<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="https://www.yuanjava.cn/assets/images/pub.jpg" >
         <br/>
         微信扫码，关注我的公众号   <br/>
        {% else %}
         <img src="https://www.yuanjava.cn/assets/images/pub.jpg" >
         <br/>
         微信扫码关注公众号，带给你更多精彩内容
        {% endif %}

   </p>
<!--   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（关注后回复 555 <a href="https://www.yuanjava.cn">获取程序员专属精华资料！</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://laughyouth.com/" target="_blank">点击了解：全网唯二以程序员为主题的漫画公众号</a></strong>
   </p>-->
</div>