---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <p>Page Not Found</p>
      <span aria-hidden="true"></span>
      <LinkButton
        href="/"
        className="my-6 underline decoration-dashed underline-offset-8 text-lg"
      >
        Back to home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<script>
  // output a random list of 404 messages
const fourOhFourMessages = [
    "AHHHHHHHH! I cannot find the page anywhere",
    "Huh? Where did the page go?",
    "I think I lost the page...",
    "WHAT?! THE PAGE WAS GONE!",
    "It's missing...",
    "I think it was just here...",
    "Hehe, I ate the page",
    "Hmm... What is four-oh-four? I guess it's delicious, isn't it?",
    "・ࡇ・",
    "（⊙.⊙）",
    "._."
    ]
const randomMessage = fourOhFourMessages[Math.floor(Math.random() * fourOhFourMessages.length)];
document.querySelector("span[aria-hidden='true']").innerHTML = randomMessage;
</script>
<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
